@charset "ISO-8859-1";
body{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	background-image: url("bg.png");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.heading{
	color: #FFFF;
	font-weight: 900;
}
.jumbotron{
	/* background: linear-gradient(to top, rgba(252, 209, 209,0.5) 40%, rgb(174, 225, 225, 0.5) 100%); */
	/* background: linear-gradient(to bottom, #fcd1d1 43%, #aee1e1 88%); */
	background: linear-gradient(to bottom, #fcd1d1 20%, #daf1f1 78%);
}